<ul class="v2tl">
{% for id in include.ep_ids %}
  {% assign ep = site.posts | where:"id", id | first %}
  <a href="{{ep.url}}">
    <li class="v2tl-node">
      {% if ep.thumb %}
      <img src="{{ site.object_store }}/ep/sq-{{ ep.images[0] }}" width="48px">
      {% else %}
      {% assign fallback_indices = "0|1|2" | split: "|" %}
      <img src="{{ site.object_store }}/ep/sq-fallback-{{ fallback_indices | sample }}.png" width="48px">
      {% endif %}
      <div class="v2tl-body">
        <div class="title">{{ ep.title }}</div>
        <div class="date">Published: {{ ep.date | date: "%Y-%m-%d" }}</div>
      </div>
    </li>
  </a>
{% endfor %}
</ul>
