
body {
  margin: 0;
  padding: 0;
  color: #222;
  background: #fdfdfd;
  font-family: 'Noto Sans JP';
}

h1 {
  font-size: 300%;
}

a {
  text-decoration: none;
  color: #256fba;
}
a:hover {
  border-bottom: 1px solid;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
  -webkit-font-smoothing: antialiased;
}

.site-title {
  margin-bottom: 16px;
}

.timeline > ul {
  list-style-type: none;
  margin-top: 32px;
  padding-left: 4px;
}
.timeline li {
  border-left: 3px solid #444;
  padding-left: 8px;
  margin-bottom: 16px;
}
.timeline a:link {
  color: #222;
}
.timeline a:visited {
  color: #555;
}
.timeline a:hover,
.timeline a:focus {
  border-bottom: 1px #999 solid;
}
.timeline .meta .date {
  font-size: 80%;
  color: #777;
}

.post h1 {
  font-size: 150%;
  margin-bottom: 0px;
}
.post h2 {
  font-size: 125%;
}
.post p {
  line-height: 26px;
}
.post .published {
  font-size: 90%;
  color: #444;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
  border-bottom: 1px #ccc solid;
}
.nav > li:first-child {
  padding-left: 0;
}
.nav > li {
  float: left;
  font-size: 80%;
  padding-left: 8px;
}
.nav > li a {
  display: block;
  color: #256fba;
}
.nav > li a:hover,
.nav > li a:focus {
  border: none;
}

@media screen
and (min-device-width: 375px)
and (max-device-width: 667px) {
  .timeline li {
    border-left: 6px solid #444;
    padding-left: 16px;
  }
}
