body {
  margin: 0;
  padding: 0;
  color: #222;
  background: #fdfdfd;
  font-family: 'Noto Sans JP';
}

h1 {
  font-size: 300%;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
}

.site-title {
  margin-bottom: 16px;
}

.timeline > ul {
  list-style-type: none;
  margin-top: 32px;
  padding-left: 4px;
}
.timeline li {
  border-left: 3px solid #444;
  padding-left: 8px;
  margin-bottom: 16px;
}

.timeline .meta .date {
  font-size: 80%;
  color: #777;
}
