<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">
  <link rel="stylesheet" href="/assets/style.css">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23982514-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23982514-2');
  </script>
</head>
<body>
  <div class="wrapper">
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    {{ content }}
  </div>
</body>
</html>
