<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.og_image %}
  <meta property="og:image" content="{{ site.image_bucket }}{{ page.og_image }}">
  {% endif %}
  <title>{{ page.title }}{% if page.titlesuffix %} | Toru Maesaka{% endif %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="icon" type="image/png" href="/assets/icon-180.png">
  <link rel="apple-touch-icon" href="/assets/icon-180.png">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23982514-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23982514-2');
  </script>
</head>
<body>
  <div class="wrapper">
    <ul class="nav">
      <li><a href="/">E²</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    {% if page.is_post %}
    <div class="post">
      <h1>{{ page.title }}</h1>
      <div class="published">{{ page.date | date: "%B %-d, %Y" }}</div>
      {{ content }}

      <div class="adjacent-posts">
        {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; 前のエピソード</a>
        {% endif %}
        {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">次のエピソード &raquo;</a>
        {% endif %}
      </div>
    </div>
    {% else %}
    {{ content }}
    {% endif %}
  </div>
</body>
</html>
