<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:image" content="{{ site.image_store }}{{ page.images[0] }}">
  {% if page.is_post %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ page.title}}{% if page.titlesuffix %} | Toru Maesaka{% endif %}">
  <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 64 }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@tmaesaka">
  {% endif %}

  <title>{{ page.title }}{% if page.titlesuffix %} | Toru Maesaka{% endif %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjp.css">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="icon" type="image/png" href="/assets/icon-180.png">
  <link rel="apple-touch-icon" href="/assets/icon-180.png">
  <link rel="alternate" type="application/atom+xml" title="Epoch by Toru Maesaka" href="/feed.xml">

  <script async src="/assets/aux.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23982514-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23982514-2');
  </script>
</head>
<body>
  <div class="wrapper">
    <div class="nav">
      <h1 class="site-title"><a href="/">Epoch Episodes</a></h1>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/gear">Gear</a></li>
      </ul>
    </div>
    {% if page.is_post %}
    <div class="post">
      <h1>{{ page.title }}</h1>
      <div class="published">{{ page.date | date: "%B %-d, %Y" }}</div>
      <section class="content">{{ content }}</section>
    </div>
    {% else %}
    {{ content }}
    {% endif %}
  </div>
</body>
</html>
